<template>
  <div class="map">
    <div class="map-container" id="maps" />
    <div v-if="modalShow" class="map-modal">
      <div class="map-modal-wrapper">
        <img
          class="map-modal-wrapper__img"
          :src="require('../assets/images/close.svg')"
          alt="none"
          @click="onClickModal"
        />
        <div class="map-modal-wrapper__text">
          Название: <span>{{ this.myJson.serial }}</span>
          <br />
          Дата остановки:
          <span>{{ this.jsonfinishPosition.time }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import L from "leaflet";
import "leaflet/dist/leaflet.css";
import icon from "leaflet/dist/images/marker-icon-2x.png";
import data from "../data.json";

export default {
  name: "LeafletMapsCompo",
  data() {
    return {
      modalShow: false,
      myJson: data.data[0],
    };
  },
  mounted() {
    this.initMap();
  },
  computed: {
    jsonCoordinat() {
      return this.myJson.activeTrip.data.coordinates;
    },
    jsonfinishPosition() {
      return this.myJson.activeTrip.finishPosition;
    },
  },
  methods: {
    initMap() {
      const centerPosition = [
        this.jsonCoordinat[0][0],
        this.jsonCoordinat[0][1],
      ];
      const coordinat = L.map("maps").setView(centerPosition, 13); // вид карты (центр и масштабирование)

      L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png").addTo(
        coordinat
      ); // слой

      const myGroup = L.polyline(this.jsonCoordinat, { color: "red" }); // рисуем линии по координатам
      const lastMarkIcon = this.lastMarkerMap(); // ставим маркер на финишь

      // добавляем слои на карту
      coordinat.addLayer(myGroup); // линии по координатам
      coordinat.addLayer(lastMarkIcon); // маркер финиша
    },
    lastMarkerMap() {
      const markIcon = L.icon({ iconUrl: icon, iconSize: [25, 41] }); // сам маркер
      const lastMark = this.jsonfinishPosition.position; // координата финиша
      const lastMarks = [lastMark.latitude, lastMark.longitude]; // [x,y]
      const layerIcon = L.marker(lastMarks, {
        draggable: false, // запрещаем перемещение маркера
        icon: markIcon,
      }).on("click", this.onClickModal); // подписываемся на клик маркера

      return layerIcon;
    },
    onClickModal() {
      this.modalShow = !this.modalShow;
    },
  },
};
</script>

<style lang="scss" scoped>
.map {
  position: absolute;
}
.map-container {
  cursor: default;
  width: 100vw;
  height: 100vh;
}
.map-modal {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  width: 300px;
  height: auto;
  margin: 20px 20px 0 0;
  padding: 10px;
  text-align: right;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}
.map-modal-wrapper {
  &__img {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  &__text {
    text-align: left;

    span {
      font-weight: bold;
    }
  }
}
</style>
