<template>
  <div id="app">
    <LeafletMapsCompo />
  </div>
</template>

<script>
import LeafletMapsCompo from "./components/LeafletMapsCompo.vue";

export default {
  name: "App",
  components: {
    LeafletMapsCompo,
  },
};
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
